@@font-face {
  src: url(http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff2) url(http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff) url(http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.ttf);
  font-family: BigNoodleTooOblique;
}

@@font-face {
  src: url(http://us.battle.net/forums/static/fonts/bignoodletoo/koverwatch.woff2) url(http://us.battle.net/forums/static/fonts/bignoodletoo/koverwatch.woff) url(http://us.battle.net/forums/static/fonts/bignoodletoo/koverwatch.ttf);
  font-family: Koverwatch;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

body {
  --color: #222936;

  background-color: #222936;
  background-image: url("background.jpg"), linear-gradient(var(--color), var(--color));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
  color: white;

  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.text-glow {
  text-shadow:
    0px 0px 2px rgba(255,255,255,0.1),
    0px 0px 16px rgba(251, 238, 60, 0.5),
    0px 0px 32px rgba(255,255,255,0.25);
}

.box-glow {
  box-shadow:
    0px 0px 2px rgba(255,255,255,0.1),
    0px 0px 16px rgba(251, 238, 60, 0.5),
    0px 0px 32px rgba(255,255,255,0.25);
}

a.cleareffects {
  text-decoration: inherit;
  color: inherit;
}
