@@font-face {
  font-family: BigNoodleTooOblique;
  src:
    url(http://us.battle.net/forums/static/static/bignoodletoo/bignoodletoo.woff2),
      url(http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff),
      url(http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.ttf);
}

@@font-face {
  font-family: Koverwatch;
  src: url(http://us.battle.net/forums/static/fonts/bignoodletoo/koverwatch.woff2),
    url(http://us.battle.net/forums/static/fonts/bignoodletoo/koverwatch.woff),
    url(http://us.battle.net/forums/static/fonts/bignoodletoo/koverwatch.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@700&family=Roboto:wght@700&display=swap');

:root {
  --color: #222936;

  --title-font: Koverwatch, Roboto;
  --button-font: BigNoodleTooOblique, Roboto;
  --card-font: Koverwatch, Nunito Sans, Open Sans;
  --card-description-font: Nunito Sans, Open Sans;
}

body {
  background-color: #222936;
  background-image: url("background.jpg"), linear-gradient(var(--color), var(--color));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
  color: white;

  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.text-glow {
  text-shadow:
    0px 0px 2px rgba(255,255,255,0.1),
    0px 0px 16px rgba(251, 238, 60, 0.5),
    0px 0px 32px rgba(255,255,255,0.25);
}

.box-glow {
  box-shadow:
    0px 0px 2px rgba(255,255,255,0.1),
    0px 0px 16px rgba(251, 238, 60, 0.5),
    0px 0px 32px rgba(255,255,255,0.25);
}

a.cleareffects {
  text-decoration: inherit;
  color: inherit;
}
